<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_success>
            <general>
                <enable>1</enable>
                <show_order_product>1</show_order_product>
                <show_shipping_address>1</show_shipping_address>
                <show_shipping_method>1</show_shipping_method>
                <show_billing_address>1</show_billing_address>
                <show_payment_method>1</show_payment_method>
                <show_print_order_link>1</show_print_order_link>
                <show_reorder_link>1</show_reorder_link>
                <show_order_status>1</show_order_status>
            </general>
            <title_config>
                <title_size>20</title_size>
                <title_color>FFFFFF</title_color>
            </title_config>
            <before_config>
                <size_before_text>20</size_before_text>
                <color_text_before>FFFFFF</color_text_before>
            </before_config>
            <after_config>
                <size_after_text>20</size_after_text>
                <color_text_after>FFFFFF</color_text_after>
            </after_config>
        </order_success>
    </default>
</config>
